/* FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    font-family: "Inter", sans-serif;
    border-bottom: 8px solid #087f5b;
}

.metin-kutusu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    column-gap: 80px;
    margin-top: 64px;
    margin-bottom: 96px;
    /* */
    
}


/* TYPOGRAPHY */
h1 {
    font-size: 44px;
    color: #343a40;
    margin-bottom: 32px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -1px;

}

.header-metin {
    font-size: 18px;
    margin-bottom: 24px;
    line-height: 1.5;

}



.b-buyuk {
    /*text-decoration: none;*/
    /* bu tex-decoration neden çalışmıyor diye düşünüyordum.
    çünkü a'ya, yani linke uygulamıyormuşum ki...*/
    font-size: 18px;
    background-color: #087f5b;
    padding: 16px 32px;
    border: solid white;
    border-radius: 100px;
    font-weight: 500;
}

button:hover,
button:active {
    background-color: #099268;
}



a{
    text-decoration: none;
    color: white;
}

img {
    border-radius: 12px;
}

.kriterler {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 80px;
    
}


h2 {
    margin-bottom: 48px;
    font-size: 36px;
    letter-spacing: -0.5px;
    color: #343a40;

}   

.kriter-baslik {
    margin-top: 16px;
    font-weight: bold;
    color: #343a40;
    line-height: 48px;
    font-size: 20px;
}

.kriter-ozellik {
    font-size: 18px;
    line-height: 1.6;
}


.yesil-yorum {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 80px;

}

.yorumlar {
    grid-column: 2 / 4;
}

img {
    width: 100%;
}

.yesil-s {
    background-color: #087f5b;
    padding: 24px;
    border-radius: 12px;
    color: white;
    margin-bottom: 96px;


}

h3  {
    color: white;
    font-family: sans-serif;
    line-height: 48px;
    font-size: 24px;  
    letter-spacing: -0.6px; 
    
}

blockquote {
    font-size: 18px;
    line-height: 1.6;
    font-style: italic;
    margin-bottom: 24px;
    color: #e6fcf5;

}

.yazar {
    color: #c3fae8
}


.sandalyeler {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 80px;
    
}

.sandalye1, .sandalye2, .sandalye3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 32px;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07);
    padding-left: 36px;
    

    
}

li {
    list-style-type: none;
    color: #343a40;
    display: flex;
    align-items: center;
    gap: 8px;
}

ul {
    display: flex;
    flex-direction: column;
    margin-bottom: 56px;
    padding-left: 0px;
    gap: 12px;
    
}


h4 {
    font-size: 20px;
    color: #343a40;
    margin: 12px 0px
    
}

section {
    margin-bottom: 96px;
}

.fiyat {
    display: flex;
    gap: 40px;
    margin-bottom: 24px;
    
    
    
    
    

}

.b-kucuk {
    background-color: #087f5b;
    padding: 4px 12px;
    border: 1px solid white;
    border-radius: 100px;
    font-size: 14px;
    font-family: "Inter";
}

.fiyat-p {
    font-size: 15px;
    margin-bottom: 0;
    font-weight: bolder;
    color: #343a40;
    letter-spacing: -1px;
    
}

footer {
    margin-bottom: 48px;
    font-size: 14px;
    color: #343a40;

}

.ikon {
    height: 32px;
    width: 32px;
    stroke: #099268;
  }


.ikon-alt {
    height: 24px;
    width: 24px;
    stroke: #099268;

}

.s-resim {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;




}